@model NotesApp.Models.Note
@{
    ViewData["Title"] = "Edit Note";
}

<h2 class="mb-4">Edit Note</h2>
<div class="card p-4 shadow-sm">
    <form asp-action="Edit">
        <input type="hidden" asp-for="Id" />
        <div class="mb-3">
            <label asp-for="Title" class="form-label"></label>
            <input asp-for="Title" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Content" class="form-label"></label>
            <textarea asp-for="Content" class="form-control" rows="5"></textarea>
        </div>

        <button type="submit" class="btn btn-success">Update</button>
        <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
